div.page-controller(ng-controller='RomCtrl')

  div
    stacked-icon(icon='fa-tablet', color='color-blue')
    span
      b ROM列表

  div
    span
      b 注意：
      刷机之前需要将设备WIFI连接改成“360-wireless-test"

  br

  table.table.table-hover.table-condensed.dataTable.ng-table
    thead
      tr
        th
          div(translate) Version
        th
          div(translate) Date
        th
          div(translate) DownloadLocation
        th
          div(translate) UpdateLog
        th
          div(translate) Operation
    tbody
      tr(ng-repeat='r in rom.romlist')
        td
          span {{r.uiVer}}
        td
          span
        td
          a(ng-href='{{r.ftpDownload}}') {{r.ftpDownload|basename}}
        td
          a(ng-href='{{r.updateLog}}') {{r.updateLog|basename|unescape}}
        td
          button.btn.btn-sm.btn-primary-outline(
            ng-click='refreshRom(r)', ng-show='r.ftpDownload|isNotEmpty')
            span 刷机

  div.rom-process-wrapper
    ul.rom-process
      li.rom-process-item(ng-repeat='log in logs')
        span.process-time(ng-bind='log.time')
        span.process-msg(ng-bind='log.msg')
