.rom-process-wrapper{
  background-color: rgba(0,0,0,1);
}
.rom-process{
  margin: 0px;
  padding: 5px 10px;
  list-style: none;
}
.rom-process-item{
  margin: 0px;
}
.rom-process-item .process-time{
  font-size: 13px;
  color: #999;
  display: inline-block;
  padding: 0px 10px 0px 0px;
  font-weight: normal;
}
.rom-process-item .process-msg{
  color: #999;
  font-size: 12px;
}
