div.page-controller(ng-controller='RomCtrl')

  div
    stacked-icon(icon='fa-tablet', color='color-blue')
    span ROM列表

  table.table.table-hover.table-condensed.dataTable.ng-table
    thead
      tr
        th
          div(translate) Version
        th
          div(translate) Date
        th
          div(translate) DownloadLocation
        th
          div(translate) UpdateLog
        th
          div(translate) Operation
    tbody
      tr(ng-repeat='r in rom.romlist')
        td
          span {{r.uiVer}}
        td
          span
        td
          span {{r.ftpDownload | basename}}
        td
          span {{r.updateLog | basename}}
        td
          button.btn.btn-sm.btn-primary-outline
            span 刷机
