div.page-controller(ng-controller='RomCtrl')

  div
    stacked-icon(icon='fa-tablet', color='color-blue')
    span ROM列表

  table.table.table-hover.table-condensed.dataTable.ng-table
    thead
      tr
        th
          div(translate) Version
        th
          div(translate) Date
        th
          div(translate) DownloadLocation
        th
          div(translate) UpdateLog
        th
          div(translate) Operation
    tbody
      tr(ng-repeat='r in rom.romList')
        td
          span {{r.uiVer}}
        td
          span
        td
          a(ng-href='{{r.ftpDownload}}') {{r.ftpDownload|basename}}
        td
          a(ng-href='{{r.updateLog}}') {{r.updateLog|basename|unescape}}
        td
          button.btn.btn-sm.btn-primary-outline(
            ng-click='refreshRom(r)', ng-show='r.ftpDownload|isNotEmpty')
            span 刷机
