div(ng-controller='ReportCtrl')
  div.device-list-details-content(ng-if='activeTabs.details').selectable
    device-list-details(tracker='tracker', columns='columns', sort='sort', filter='filter').selectable
  div(uib-modal-window='modal-window') 测试窗口
