div.page-controller(ng-controller='ChartsCtrl')
  div#chart_panel
    div.chart_container
      h5 手机厂商测试失败比例图
      div#manufacturer_table
        div.manufacturer-cell(ng-repeat='stat in manufacturer_stat')
          span(ng-bind='stat[0]')
          span :
          span.count(ng-bind='stat[1]')
          span 次
      div#pie_chart_manufacturer

    div.chart_container
      h5 测试场景测试失败比例图
      div.manufacturer-cell(ng-repeat='stat in scene_stat')
        span(ng-bind='stat[0]')
        span :
        span.count(ng-bind='stat[1]')
        span 次
      div#pie_chart_scene
  div#chart_panel
    div#bar_chart


