div.user-profile(pane='center', ng-controller='UserProfileCtrl')
  .widget-container.fluid-height
    h3 用户信息
    p 姓名：{{currentUser.name}}
    p 邮箱：{{currentUser.email}}
    p 创建时间：{{currentUser.createdAt}}
    p IP地址：{{currentUser.ip}}
    p 最后一次登录时间：{{currentUser.lastLoggedInAt}}
