.testing-report-modal.stf-modal
  form(ng-submit='ok()')
    .modal-header
      button(type='button', ng-click='cancel()').close &times;
      h4.modal-title
        i.fa.fa-android
        .button-spacer
        span(translate) Add the following ADB Key to STF?
    .modal-body
      h1 测试
