div.device-item-list
  <!-- label.device-nitem(ng-repeat='device in devices',ng-if='device.remoteConnect') @hy 2017-05-11 remove ng-if ... -->
  label.device-nitem(ng-repeat='device in devices')

    input(type='checkbox',ng-click='checkDeviceItem(this)')
    span.item-name(ng-bind='device.model')

