div.page-controller(ng-controller='TestcloudCtrl')
  div
    stacked-icon(icon='fa-tablet', color='color-blue')
    span  公有测试云

  table.table.table-hover.table-condensed.dataTable.ng-table
    thead
      tr
        th  名称
        th  网址
        th  所属公司
        th  说明
    tbody
      tr(ng-repeat='item in clouds')
        td(ng-bind='item.name')
        td
          a(href='{{item.URL}}' target="_blank" ) {{item.URL}}
        td(ng-bind='item.company')
        td(ng-bind='item.note')
