div.page-controller(ng-controller='TestcloudCtrl')

.col-md-12-x.packery-item
  .widget-container.fluid-height
    .heading
      stacked-icon(icon='fa-tablet', color='color-blue')
      span  公有测试云
    .widget-content.padded-small
      table.table.table-hover.table-condensed.dataTable.ng-table
        thead
          tr
            td 名称
            td URL
            td 所属公司
        tbody
          tr(ng-repeat='item in clouds' ng-model="clouds")
          tr
            td {{item.name}}  test
            td {{item.URL}} test
            td {{item.company}} test
