div.users-controller(ng-controller='UsersCtrl')
  div
    input.form-control.users-search(placeholder='搜索用户')
    button.btn.btn-primary(ng-click='submitQuery()') 查询
  table.table.table-hover.dataTable.ng-table
    thead
      tr
        th.header.sortable 用户名
        th.header.sortable 邮箱
        th.header.sortable 标签
        th.header.sortable 操作
    tbody
      tr(ng-repeat='user in user_list')
        td(ng-bind='user.name')
        td(ng-bind='user.email')
        td(ng-bind='user.tags')
        td
          button.btn.btn-primary.btn-sm(ng-click='setUserTags(this)') 修改
