.page-controller{
  background-color: #fff;
  padding: 15px;
}
.page-title{
  padding: 10px 0px;
}
.shell-input{
  max-width: 100%;
}
.date-input{
  width: 300px;
}
.date-input .btn.btn-default{
  margin: 1px;
}
.date-input .btn.btn-primary{
  margin: 0px;
}
